.container {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: left;
}

.form,
.comment {
  width: 50%;
  height: 100%;
  /* border: black solid 1px; */
  padding: 25px;
  margin-bottom: 100px;
}

.form {
  background-color: #FFFA84;
  /* background-color: lightgray; */
  border-radius: 10px;
  height: min-content;
}

.comment {
  padding-top: 0;
}

.comment>* {
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.slider {
  width: 100%;
  height: 30px;
}

.commentInput {
  resize: none;
  width: 100%;
  padding: 5px;
  /* overflow: hidden; */
  height: 100px;
}

.textCount {
  color: gray;
  margin-left: 5px;
}

.nameInput {
  resize: none;
  padding: 5px;
  height: 30px;
}

.nameCount {
  color: gray;
  margin-left: 5px;
}

.button {
  height: 30px;
}

.input {
  width: 100%;
  height: 30px;
  resize: none;
}

.line {
  margin-bottom: 100px;
}

.forwardBackward {
  display: flex;
  /* border: black solid 1px; */
  justify-content: center;
  gap: 25px;
}

.forwardBackwardButton {
  padding: 0px 5px;
  height: 30px;
}

@media screen and (max-width:850px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .comment,
  .form {
    width: 100%;
    /* margin-bottom: 0px; */
  }



}
