.content>* {
  margin-bottom: 5%;
}

.a {
  margin: 0;
  display: inline;
}

.date {
  color: gray;
}

.img {
  max-width: 300px;
}

p {
  line-height: 2;
}

.codeblock {
  overflow-x: auto;
  background-color: rgb(39, 40, 34);
}

.radar {
  /* width: 80%; */
}

.pa {
  margin: 0;
}
