.content>*:not(.a) {
  margin-bottom: 5%;
}

link {
  display: inline;
  margin: 0;
}


.date {
  color: gray;
}

.img {
  max-width: 300px;
}

p {
  line-height: 2;
}

.codeblock {
  overflow-x: auto;
}
