.gifName {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  height: min-content;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
}

.links {
  justify-content: right;
  display: flex;
}

.links li {
  margin: 0 5px 0 5px;
  display: flex;
  align-items: center;

}

.navline {
  margin-bottom: 10%;
}

.welcome {
  width: 50px;
  margin-right: 10px;
}

.header {
  display: flex;
}

.exposition {
  position: relative;
}

.new {
  position: absolute;
  top: -30%;
  right: -10%;
  width: 50px;
}

.newMobile {
  display: none;
  width: 50px;
}


@media (max-width:850px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .new {
    display: none;
  }

  .newMobile {
    display: flex;

  }


  .links li {
    margin: 0;
  }
}
