@font-face {
  font-family: "comicsans";
  src: url("./assets/Ldfcomicsans-jj7l.ttf")format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: "comicsans"; */
  /* border-style: solid; */
  /* border-radius: 1px; */
}

h1 {
  font-size: 1.5em;
}
button{
  cursor:pointer;
  all:unset;
  border-radius: 5px;
  border: black solid 1px;
  font-size: 80%;
  display:flex;
  justify-content: center;
  align-items:center;
  color: black;
  background-color: lightgray;
}
button:hover{
  cursor:pointer;
  background-color: gray;
}
button:active{
  background-color:darkgray;
}

.container {
  width: 800px;
  margin: 0 auto;
}

a:link,
a:visited {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:link:active,
a:visited:active {
  color: black;
  text-decoration: underline;
}

@media (max-width: 850px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
